# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/lophine-server/build.gradle.kts
/lophine-api/build.gradle.kts
/lophine-server/src/minecraft
/paper-server
/paper-api
/paper-api-generator

.idea/
"jdk-21.0.10_windows-x64_bin.zip" 
"jdk-21.0.10_windows-x64_bin/" 
nul
